# Enviroment Variables
.env
.venv
env/
venv/

# Python cache
__pycache__/
*.py[cod]

# Downloaded Content (PDFs and images)
PDF/
temp_manga_images/
*.pdf

# Logs
*.log
investigation_result.txt

# IDE settings
.vscode/
.idea/
